<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="StorageConnection" value="DefaultEndpointsProtocol=https;AccountName=myedustorage;AccountKey=xlWnfjfLjwQklTzzKqK/iZ9Ibdn1xVnZCPlMci+wWE05eGEVXXlXQwqHt/eZKY3hVcDudjSQjj07OjNMo3hW5A==;EndpointSuffix=core.windows.net"/>
    </appSettings>
</configuration>